{% extends "airlinecontroller/layout.html" %}
{% load static %}

{% block body %}
{% if message %}
    <h4>{{ message }}</h4>
{% endif %}

<h1 class="available_flights_header">Available Flights</h1>
<ul class="list-group"></ul>
    {% for flight in available_flights %}
        <li class="list-group-item">
        <div class="flight-container">
            <div class="small-flight-container">
                <div>{{ flight.departure_airport }}</div>
                <div>{{ flight.departure_date }}</div>
            </div>
            
            <div class="plane-icon"><i class="fas fa-plane"></i></div>

            <div class="small-flight-container">
                <div>{{ flight.destination_airport }}</div>
                <div>{{ flight.arrival_date }}</div>
            </div>

            <div class="flight-price">{{ flight.price }} $</div>
            
            {% if user.is_authenticated %}
                <a href="{% url 'delete_flight' flight.id %}" class="select-flight-link">Delete</a>
            {% else %}
                <a href="{% url 'show_flight' flight.id %}" class="select-flight-link">Select</a>
            {% endif %}
        </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}