{% extends "airlinecontroller/layout.html" %}

{% block body %}

    {% if message %}
        <h4>{{ message }}</h4>
    {% endif %}

    <h2>Create Flight</h2>
    <form id="new_flight_form" action="{% url 'update_flight' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            From: <input id="dep_airport" name="dep_airport" class="form-control" required>
        </div>
        <div class="form-group">
            To: <input id="des_airport" name="des_airport" class="form-control" required>
        </div>
        <div class="form-group">
            Departure Date: <input id="dep_date" name="dep_date" class="form-control" type="datetime-local" value="2021-06-06T07:30" required>
        </div>
        <div class="form-group">
            Arrival Date: <input id="arr_date" name="arr_date" class="form-control" type="datetime-local" value="2021-06-06T07:30" required>
        </div>

        <div> Flight Crew:
            <select id="flight_crew_select" name="flight_crew_select">
                {% for crew in flight_crews %}
                    <option value="{{ crew.crew_name }}">{{ crew.crew_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div> Airplane:
            <select id="airplane_select" name="airplane_select">
                {% for airplane in airplanes %}
                    <option value="{{ airplane.plane_name }}">{{ airplane.plane_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            Gate Number: <input id="gate_number" name="gate_number" class="form-control" required>
        </div>
        <div class="form-group">
            Price: <input id="price" name="price" class="form-control" required>
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>

    <a href="{% url 'index' %}">See All Flights</a>

{% endblock %}