{% extends "airlinecontroller/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-primary" href="{% url 'create_flight' %}">Create Flight</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
        <hr>
    {% else %}
        <a class="btn btn-sm btn-outline-primary login-btn" href="{% url 'login' %}">Login as Flight Scheduler</a>
    {% endif %}

    <h1>Available Flights</h1>
    <form action="{% url 'available_flights' %}" method="POST">
        {% csrf_token %}
        <div id="pas_part1">
            <div> From:
                <select id="departure_select" name="departure_select">
                    {% for flight in flights %}
                        <option value="{{ flight.departure_airport }}">{{ flight.departure_airport }}</option>
                    {% endfor %}
                </select>
            </div>
            <div> To:
                <select id="destination_select" name="destination_select">
                    {% for flight in flights %}
                        <option value="{{ flight.destination_airport }}">{{ flight.destination_airport }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>
    

{% endblock %}
