{% extends "airlinecontroller/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="available_flights_header">Search for flights</h1>
    <form action="{% url 'available_flights' %}" method="POST">
        {% csrf_token %}
        <div class="filter-flight-container">
            <div class="filter-menu"> From:
                <select id="departure_select" name="departure_select">
                    {% for dep in departure_airports %}
                        <option value="{{ dep }}">{{ dep }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-menu"> To:
                <select id="destination_select" name="destination_select">
                    {% for des in destination_airports %}
                        <option value="{{ des }}">{{ des }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>
    

{% endblock %}
