{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Airline Controller{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'airlinecontroller/styles.css' %}">

        <link rel="shortcut icon" href="#" />
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1 id="blue-airlines-header">Blue Airlines</h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>