{% extends "airlinecontroller/layout.html" %}
{% load static %}

{% block body %}

    {% if message %}
        <h4>{{ message }}</h4>
    {% endif %}
    <h2>Question Ticket</h2>
    <form id="question-ticket-form" action="{% url 'show_tickets' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            Name & Surname: <input id="pass_name_sur" name="pass_name_sur" class="form-control">
        </div>
        <div class="form-group">
            Phone Number: <input id="pass_phone_num" name="pass_phone_num" class="form-control">
        </div>
        <div class="form-group">
            Email Address: <input id="pass_mail_add" name="pass_mail_add" class="form-control">
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>

    <a href="{% url 'index' %}">See All Flights</a>
    
{% endblock %}
