{% extends "airlinecontroller/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-primary" href="{% url 'create_flight' %}">Create Flight</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
        <hr>
    {% else %}
        <a class="btn btn-sm btn-outline-primary login-btn" href="{% url 'login' %}">Login as Flight Scheduler</a>
    {% endif %}

    <h1>Congrats!</h1>
    <h2>Ticket Details</h2>
    <div>
        <div>{{ pass_name_sur }}</div>
        <div>{{ pass_phone_num }}</div>
        <div>{{ pass_mail_add }}</div>
        <div>Seat Number: {{ seat_select }}</div>
        <div>Gate Number:</div>
    </div>

    
    

{% endblock %}
