@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.one_flight {
	margin: 10px;
}

h4 {
    color: red;
}

.hasnt_booked_tickets {
    color: gray;
}

.login-btn {
	float: right;
}

.blue-airlines-header, .blue-airlines-header:hover {
    color: black;
    text-decoration: none;
    font-size: 4rem;
    font-weight: 800;
}

ul {
    margin-top: 2.5%;
}

a:last-of-type {
	margin-left: auto;
}

ul {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;


}


.filter-menu {
    margin-left: 2rem;
}

#blue-airlines-header {
	margin-top: 15px;
	font-weight: 800;
	font-size: 3.5em;
    font-display: bold;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

.available_flights_header {
    margin-top: 25px;
    font-weight: 600;
}

select {
    padding: 0.5rem;
    margin: 0.2rem;
    border: none;
    background-color: #f2f2f2;
}

select option {
    padding: 0.2rem;
    border: none;
    background-color: #f2f2f2;
}

select:hover {
    background-color: #cccccc;
}

select option:hover {
    background-color: #cccccc;
}

input[type=submit] {
    margin-top: 1.2rem;
}